.header{
	background-color: #e5989b;
	height: 90px;
}
.main{
	background-color: #ffb4a2;
	height: 600px;
}
.footer{
	background-color: #ffcdb2;
	height: 270px;
}
.header-logo{
	font-size: 36px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 40px;
	padding-right: 40px;
	float: left;
	color: white;
}
li{
	float: left;
	list-style: none;
	padding-top: 35px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
}
body{
	font-family:"Lucida Calligraphy"
}